<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainlayout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>어드민 페이지</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--방문자 차트 추가적으로 수정하기.--->
    <script>
        $(document).ready(function() {
            $.ajax({
                url: '/api/visitor/week-count',
                method: 'GET',
                success: function(data) {
                    console.log(data.data);
                    var ctx = document.getElementById('visitorCounts').getContext('2d');
                    var visitorCounts = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: data.data.labels,
                            datasets: [{
                                label: '방문자 통계',
                                data: data.data.DayCount,
                                backgroundColor : 'rgba(75, 192, 192, 1)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    </script>
</head>
<!-- Begin Page Content -->
<th:block layout:fragment="contents">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">어드민 페이지</h1>
        </div>
        <!-- 방문자 수 통계 -->
        <div class="row" style="width: 900px; height: 500px;">
            <canvas id="visitorCounts"></canvas>
        </div>
        <!-- 회원 목록 -->
        <div class="row">
            <div class="col-lg-12 mb-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>아이디</th>
                            <th>이메일</th>
                            <th>이름</th>
                            <th>가입일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:unless="${#lists.isEmpty(memberlist)}" th:each="list : ${memberlist}">
                            <td th:text="${list.useridx}"></td>
                            <td th:text="${list.username}"></td>
                            <td th:text="${list.useremail}"></td>
                            <td th:text="${list.membername}"></td>
                            <td th:text="${list.createdAt}"></td>
                        </tr>
                        <tr th:if="${#lists.isEmpty(memberlist)}">
                           회원이 없습니다.
                        </tr>
                    </tbody>
                </table>
                <!---회원 목록 페이징-->
                <div th:if="${!memberlist.isEmpty()}">
                    <nav th:with="
	        			pageNumber = ${memberlist.pageable.pageNumber},
		        		pageSize = ${memberlist.pageable.pageSize},
		        		totalPages= ${memberlist.totalPages},
		        		startPage=${T(java.lang.Math).floor(pageNumber/pageSize)*pageSize+1},
	        			tempEndPage=${startPage+pageSize - 1},
                        endPage=(${tempEndPage < totalPages ? tempEndPage : totalPages})">
                        <div class="d-none d-md-block">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${pageNumber < pageSize} ? 'disabled'">
                                    <a class="page-link" th:href="@{/page/board/list(page= 0)}">First</a>
                                </li>
                                <li class="page-item" th:classappend="${memberlist.first} ? 'disabled'">
                                    <a class="page-link" th:if="${memberlist.first} ? '#' " th:href="@{/page/member/adminlist(page=${pageNumber - 1})}">previous</a>
                                </li>
                                <li class="page-item" th:each="page: ${#numbers.sequence(startPage,endPage)}"
                                    th:classappend="${page == pageNumber + 1} ? 'active'">
                                    <a class="page-link" th:href="@{/page/member/adminlist(page=${page - 1})}">[[${page}]]</a>
                                </li>
                                <li class="page-item" th:classappend="${!memberlist.last} ? 'disabled'">
                                    <a class="page-link" th:if="${memberlist.last} ? '#'"
                                       th:href="@{/page/member/adminlist(page=${pageNumber + 1})}">다음</a>
                                </li>
                                <li class="page-item" th:classappend="${T(java.lang.Math).floor(totalPages / pageSize) * pageSize - 1 <= startPage} ? 'disabled'">
                                    <a class="page-link" th:if="${memberlist.last} ? '#' "
                                       th:href="@{/page/member/adminlist(page=${totalPages - 1})}">Last</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- 최근에 작성한 글,댓글 -->
        <div class="row">
            <div class="col-lg-6 mb-4">
                <!-- 최근에 작성한 게시글 -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">최근에 작성한 게시글</h6>
                    </div>
                    <div th:each="list:${top5}">
                        <div class="card-body">
                            <!--게시글 상세조회-->
                            <a target="_blank" rel="nofollow" th:href="@{/page/board/detail/{id}(id=${list.boardId})}">
                                <p th:text="${list.boardContents}"></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 최근에 작성한 글 end-->
            <!-- 최근에 작성한 댓글-->
            <div class="col-lg-6 mb-4">
                <!-- 최근에 작성한 게시글 -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">최근에 작성한 댓글</h6>
                    </div>
                    <div th:each="comment:${comment}">
                        <div class="card-body">
                            <!--댓글 상세조회-->
                            <a target="_blank" rel="nofollow" href="">
                                <p th:text="${comment.replyContents}"></p>
                            </a>
                        </div>
                        <a th:href="@{/page/}"></a>
                    </div>
                </div>
            </div>
            <!-- 최근에 작성한 댓글 end-->
        </div>
    </div>
    <!-- /.container-fluid -->
</th:block>
</html>