<!DOCTYPE html>
<html
        lang="kr"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/mainlayout}">
<head>
    <meta charset="UTF-8">
    <title>댓글 관리 페이지</title>
</head>
<body>
<th:block layout:fragment="contents">
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">댓글 관리 페이지</h1>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-bottom: 10px">
            <!--정렬-->
            <label for="commentSort">
                <select class="form-select" id="commentSort" onchange="commentSortResult()" style="margin-right: 10px">
                    <option>정렬</option>
                    <option th:value="id">번호순</option>
                    <option th:value="replyWriter">작성자</option>
                    <option th:value="createdAt">작성일</option>
                </select>
            </label>
            <a class="btn btn-primary" role="button" th:href="@{/page/board/write}">게시글 작성</a>
        </div>
        <!--댓글글 검색-->
        <div class="row" style="clear:right;width:500px;margin:auto">
            <div class="col-lg-12">
                <label for="searchType">
                    <select name="searchType" id="searchType">
                        <option>전체보기</option>
                        <option th:value="t">제목</option>
                        <option th:value="c">내용</option>
                        <option th:value="w">작성자</option>
                        <option th:value="all">전체</option>
                    </select>
                </label>
                <input type="text" class="form-control" name="keyword" id="commentkeyword">
                <button class="btn btn-sm btn-primary" id="btnSearch" onclick="commentSearchResult()">검색</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                    <tr>
                        <!--체크박스 부분 체크박스를 누르기 전까지는 disable상태-->
                        <th scope="col">
                            <input id="allCheckBox" type="checkbox" name="checked" onclick="allChecked(this)">
                            <label></label>
                            <select id="commentStatus" disabled onchange="selectSwitch()">
                                <option>---------</option>
                                <option name="status" th:value="selectDelete">댓글 삭제</option>
                            </select>
                        </th>
                        <th scope="col">내용</th>
                        <th scope="col">작성자</th>
                        <th scope="col">작성일</th>
                    </tr>
                    </thead>
                    <tbody th:unless="${#lists.isEmpty(list)}" th:each="list:${list}">
                    <tr>
                        <td>
                            <label for="selectCheck">
                                <input type="checkbox" id="selectCheck" name="checkboxed" th:value="${list.replyId}"
                                       onclick="checkBoxClicked()">
                            </label>
                        </td>
                        <td th:text="${list.replyContents}"></td>
                        <td th:text="${list.replyWriter}"></td>
                        <td th:text="${list.createdAt}"></td>
                    </tr>
                    <th:block th:if="${#lists.isEmpty(list)}">
                        <tr th:text="게시글이 없습니다.">
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <!--페이징 처리-->
            <div th:if="${!list.isEmpty()}">
                <nav th:with="
				pageNumber = ${list.pageable.pageNumber},
				pageSize = ${list.pageable.pageSize},
				totalPages= ${list.totalPages},
				startPage=${T(java.lang.Math).floor(pageNumber/pageSize)*pageSize+1},
				tempEndPage=${startPage+pageSize - 1},
				endPage=(${tempEndPage < totalPages ? tempEndPage : totalPages})">
                    <div class="d-none d-md-block">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${pageNumber < pageSize} ? 'disabled'">
                                <a class="page-link" th:href="@{'/page/member/comment/list'(page= 0)}">First</a>
                            </li>
                            <li class="page-item" th:classappend="${list.first} ? 'disabled'">
                                <a class="page-link" th:if="${list.first} ? '#' "
                                   th:href="@{'/page/member/comment/list'(page=${pageNumber - 1})}">previous</a>
                            </li>
                            <li class="page-item"
                                th:each="page: ${#numbers.sequence(startPage,endPage)}"
                                th:classappend="${page == pageNumber + 1} ? 'active'">
                                <a class="page-link" th:href="@{'/page/member/comment/list/'(page=${page - 1})}">[[${page}]]</a>
                            </li>
                            <li class="page-item" th:classappend="${!list.last} ? 'disabled'">
                                <a class="page-link" th:if="${list.last} ? '#'"
                                   th:href="@{'/page/member/comment/list'(page=${pageNumber + 1})}">다음</a>
                            </li>
                            <li class="page-item"
                                th:classappend="${T(java.lang.Math).floor(totalPages / pageSize) * pageSize - 1 <= startPage} ? 'disabled'">
                                <a class="page-link" th:if="${list.last} ? '#' "
                                   th:href="@{'/page/member/comment/list'(page=${totalPages - 1})}">Last</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- search end -->
            <script th:inline="javascript">
                //검색
                function commentSearchResult() {
                    let searchVal = $('#commentkeyword').val();
                    let searchType = $('#searchType').val();
                    location.href = '/page/member/comment/list/?searchVal=' + searchVal + "&searchType=" + searchType;
                }

                //검색시 결과가 없는 경우에 결과가 없음을 보여줘야 함.

                //정렬
                function commentSortResult() {
                    let sort = $('#sort').val();
                    location.href = '/page/member/comment/list?sort=' + sort;
                }

                //체크박스 선택(전체 선택시 체크 및 전체 해제)
                function allChecked(selectAll) {
                    const check = document.getElementsByName('checkboxed');

                    check.forEach((check) => {
                        check.checked = selectAll.checked;
                        document.getElementById('commentStatus').disabled = check.checked !== true;
                    });
                }

                //체크박스 단건 체크
                function checkBoxClicked() {
                    //체크박스 전체개수
                    const allCount = $("input:checkbox[name=checkboxed]").length;
                    //체크된 체크박스 전체개수
                    const checkedCount = $("input:checkbox[name=checkboxed]:checked").length;
                    console.log(allCount);
                    console.log(checkedCount);

                    const isChecked = $("input:checkbox[name=checkboxed]:checked").is(':checked');

                    if (isChecked) { //클릭하면 셀렉트 박스 disabled 해제
                        console.log(isChecked);
                        $('#commentStatus').removeAttr('disabled');
                    } else {
                        $('#commentStatus').attr('disabled', true);
                    }
                }

                //셀렉트 선택
                function selectSwitch() {
                    let result = {};

                    const commentStatus = document.getElementById('commentStatus');

                    result.commentStatus = commentStatus.options[commentStatus.selectedIndex].value;

                    var status = result.boardStatus;

                    console.log(status);

                    switch (status) {
                        case 'selectDelete':
                            commentSelectDelete();
                            break;
                    }
                }

                //댓글 선택 삭제
                function commentSelectDelete() {
                    //로컬 스토리지에 저장된 at
                    let token = getItems();
                    let result = token.value;
                    let commentArray = [];

                    $("input:checkbox[name=checkboxed]:checked").each(function () {
                        commentArray.push($(this).val());
                        console.log(commentArray);
                    });

                    if (commentArray === "") {
                        alert("삭제할 항목을 선택해주세요.");
                        return false;
                    }

                    const confirmAlert = confirm('정말로 삭제하시겠습니까?');

                    if (confirmAlert) {
                        $.ajax({
                            url: '/api/comment/select-delete',
                            type: 'post',
                            headers: {'Authorization': 'Bearer ' + result},
                            dataType: 'json',
                            data: JSON.stringify(commentArray),
                            contentType: 'application/json'
                        }).done(function (status) {
                            console.log(status);
                            alert('삭제되었습니다.');
                            location.href = '/page/member/comment/list';
                        }).fail(function (err) {
                            console.log(err);
                        });
                    }
                }
            </script>
        </div>
    </div>
</th:block>
</body>
</html>