<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/mainlayout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<title>메인 페이지</title>
</head>
<!--본문-->
<th:block layout:fragment= "contents">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">main 페이지</h1>
        </div>
        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12 mb-4">
                <!-- 작성 게시글 -->
                <div class="card shadow mb-4" th:each="list:${list}">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" th:text="${list.boardTitle}"></h6>
                    </div>
                    <div class="card-body">
                        <!--게시글 상세조회-->
                        <a th:href="@{/page/board/detail/{id}(id=${list.id})}">
                            <p th:text="${list.boardContents}"></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-fluid-->
</th:block>
</html>