<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="/layout/mainlayout">
<head>
<meta charset="UTF-8">
<title>Main</title>
<th:block th:replace="/layout/script :: scriptfragment"></th:block>
</head>
<body>
<th:block th:replace="/layout/header :: headerfragment"></th:block>
<th:block layout:fragment="contents"></th:block>
<th:block th:replace="/layout/footer :: footerfragment"></th:block>
</body>
</html>