<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainlayout}">
<head>
    <meta charset="UTF-8">
    <title>내가 작성한 게시글</title>
</head>
<body>
<th:block layout:fragment="contents">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">내가 작성한 게시글</h1>
        </div>
        <!--스크랩 목록-->
        <div class="row">
            <div class="col-lg-12 mb-4" style="overflow: scroll;">
                <th:block th:unless="${#lists.isEmpty(list)}"th:each="list:${list}">
                    <div class="card shadow mb-4">
                        <input type="hidden" id="categoryName" name="categoryName" th:value="${list.categoryName}">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" th:text="${list.boardTitle}"></h6>
                            <p class="text-right" th:text="${list.createdAt}"></p>
                        </div>
                        <div class="card-body">
                            <!--게시글 상세조회-->
                            <a th:href="@{/page/board/detail/{id}(id=${list.boardId})}">
                                <p>[[${list.boardContents}]]</p>
                            </a>
                        </div>
                    </div>
                    <div class="card shadow mb-4" th:if="${#lists.isEmpty(list)}">
                        스크랩한 게시글이 없습니다.
                    </div>
                </th:block>
            </div>
            <!--페이징 처리-->
            <div th:if="${!list.isEmpty()}">
                <nav th:with="
				pageNumber = ${list.pageable.pageNumber},
				pageSize = ${list.pageable.pageSize},
				totalPages= ${list.totalPages},
				startPage=${T(java.lang.Math).floor(pageNumber/pageSize)*pageSize+1},
				tempEndPage=${startPage+pageSize - 1},
				endPage=(${tempEndPage < totalPages ? tempEndPage : totalPages})">
                    <div class="d-none d-md-block">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${pageNumber < pageSize} ? 'disabled'">
                                <a class="page-link" th:href="@{'/page/mypage/my-article'(page= 0)}">First</a>
                            </li>
                            <li class="page-item" th:classappend="${list.first} ? 'disabled'">
                                <a class="page-link" th:if="${list.first} ? '#' " th:href="@{'/page/mypage/my-article'(page=${pageNumber - 1})}">previous</a>
                            </li>
                            <li class="page-item"
                                th:each="page: ${#numbers.sequence(startPage,endPage)}"
                                th:classappend="${page == pageNumber + 1} ? 'active'">
                                <a class="page-link" th:href="@{'/page/mypage/my-article'(page=${page - 1})}">[[${page}]]</a>
                            </li>
                            <li class="page-item" th:classappend="${!list.last} ? 'disabled'">
                                <a class="page-link" th:if="${list.last} ? '#'" th:href="@{'/page/mypage/my-article'(page=${pageNumber + 1})}">다음</a>
                            </li>
                            <li class="page-item" th:classappend="${T(java.lang.Math).floor(totalPages / pageSize) * pageSize - 1 <= startPage} ? 'disabled'">
                                <a class="page-link" th:if="${list.last} ? '#' " th:href="@{'/page/mypage/my-article'(page=${totalPages - 1})}">Last</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--게시글 검색-->
            <div class="row" style="clear:right;width:500px;margin:auto">
                <div class="d-sm-flex align-items-center">
                    <select name="searchType" id="searchType" class="form-select" aria-label="Default select example">
                        <option>전체보기</option>
                        <option th:value="t">제목</option>
                        <option th:value="c">내용</option>
                        <option th:value="w">작성자</option>
                        <option th:value="all">전체</option>
                    </select>
                    <input type="text" class="form-control form-control-sm" name="keyword" id="boardkeyword">
                    <button class="btn btn-sm btn-primary" id="btnSearch" onclick="boardSearchResult()">검색</button>
                </div>
            </div>

            <!-- search end -->
            <script th:inline="javascript">
                //검색
                function boardSearchResult(){
                    let searchVal = $('#boardkeyword').val();
                    let searchType = $('#searchType').val();
                    location.href='/page/mypage/my-article?searchVal='+searchVal+"&searchType="+searchType;
                }
            </script>
        </div>
    </div>
</th:block>
</body>
</html>