<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="footerfragment">
<!--footer-->
<div class="container-fluid bg-dark text-white" style="margin-top:50px;padding-top:30px;padding-bottom:30px">
	<div class="container">
		<p>JpaBlog</p>
		<p>email:well414965@gmail.com</p>
		<p>github:github.com/well4149</p>
	</div>
</div>
</th:block>
</html>