<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/common.css}"rel="stylesheet">
</head>
<body id="page-top">
<div id="wrapper">
    <!--side bar-->
    <th:block th:replace="layout/sidebar :: sidebarfragment"></th:block>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id ="content">
            <!--top bar-->
            <th:block th:replace="layout/Topbar :: topbarfragment"></th:block>
            <!--main contents-->
            <th:block layout:fragment= "contents"></th:block>
        </div>
        <!--footer-->
        <th:block th:replace="layout/footer :: footerfragment"></th:block>
    </div>
    <!--End of Content Wrapper-->
</div>
<!--End of Page Wrapper-->
<!--common modal & button-->
<th:block th:replace="layout/commonfragment::commonfragment"></th:block>
</body>
<!--javascript cnd-->
<!---->
<th:block th:replace="layout/script :: scriptfragment"></th:block>
</html>