<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layout/mainlayout">
<th:block th:fragment="sidebarfragment">
  <!--sidebar-->
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/page/main/mainpage}">
      <div class="sidebar-brand-icon rotate-n-15">
      </div>
      <div class="sidebar-brand-text mx-3">JpaBlog</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <th:block th:if="${count} == null">
        <a class="nav-link">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>관리자 페이지</span>
        </a>
      </th:block>
      <!--회원으로 들어왔을 때-->
      <th:block th:if="${count} != null">
        <a class="nav-link">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>전체 글[ [[${count}]] ]</span>
        </a>
      </th:block>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div th:if="${categoryMenu}">
      <div class="sidebar-heading">
        카테고리
      </div>
      <!-- 블로그 카테고리 내용 (회원)-->
      <div th:each="menu:${categoryMenu}">
        <li class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse"
               th:href="@{|/page/board/list/${menu.name}|}"
               th:attr="data-target=${'#collapseTwo'+menu.id}"
              aria-expanded="true" aria-controls="collapseTwo"　id="mainCategory">
              <span th:text="${menu.name}"></span>
            </a>
        </li>
        <li>
          <div th:id="'collapseTwo'+${menu.id}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <div th:each="sub:${menu.children}">
                <a class="collapse-item" th:href="@{|/page/board/list/${sub.name}|}">
                  <span th:text="${sub.name}"></span>
                </a>
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>
    <!--관리자 페이지로 왔을때-->
    <div th:if="${categoryMenu}==null">
      <div class="sidebar-heading">
        관리자
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/page/member/board/list}">
          <span>게시글 관리</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/page/member/category}">
          <span>카테고리 관리</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/page/member/comment/list}">
          <span>댓글 관리</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <span>방문자 통계</span>
        </a>
      </li>
    </div>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      최근 작성한 글
    </div>
    <li class="nav-item" th:each="list:${top5}">
        <input type="hidden" name="boardId" th:value="${list.boardId}">
        <input type="hidden" name="categoryId" th:value="${list.categoryId}">
        <p class="text-center mb-2">
          <strong>[[${list.boardContents}]]</strong>
        </p>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Heading -->
    <div class="sidebar-heading">
      태그
    </div>
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
      <img class="sidebar-card-illustration mb-2" src="/img/undraw_rocket.svg" alt="...">
      <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
      <a class="btn btn-success btn-sm" href="">Upgrade to Pro!</a>
    </div>
  </ul>
  <!-- End of Sidebar -->
</th:block>
</html>