<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layout/mainlayout">
<th:block th:fragment="sidebarfragment">
  <!--sidebar-->
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/page/main/mainpage}">
      <div class="sidebar-brand-icon rotate-n-15"></div>
      <div class="sidebar-brand-text mx-3">JpaBlog</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <th:block th:if="${count} == null">
        <a class="nav-link">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>관리자 페이지</span>
        </a>
      </th:block>
      <!--회원으로 들어왔을 때-->
      <th:block th:if="${count} != null">
        <a class="nav-link">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>전체 글[ [[${count}]] ]</span>
          </br>
          <span id="totalCount"></span>
          </br>
          <span id="todayCount"></span>
          </br>
          <span id="yesterdayCount"></span>
        </a>
      </th:block>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <!-- 블로그 카테고리 내용 (회원)-->
    <th:block th:if="${categoryMenu} != null">
      <div class="sidebar-heading">
        카테고리
      </div>
      <div th:each="menu:${categoryMenu}">
        <li class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse"
               th:href="@{|/page/board/list/${menu.name}|}"
               th:attr="data-target=${'#collapseTwo'+menu.id}"
              aria-expanded="true" aria-controls="collapseTwo"　id="mainCategory">
              <span th:text="${menu.name}"></span>
            </a>
        </li>
        <li>
          <div th:id="'collapseTwo'+${menu.id}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <div th:each="sub:${menu.children}">
                <a class="collapse-item" th:href="@{|/page/board/list/${sub.name}|}">
                  <span th:text="${sub.name}"></span>
                </a>
              </div>
            </div>
          </div>
        </li>
      </div>
    </th:block>
    <th:block th:if="${scrapList} !=null">
      <div class="sidebar-heading">
        마이 페이지
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" id="userDetail">
          <span>회원 정보</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" id="scrapList">
          <span>스크랩 한 글</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" id="userBoard">
          <span>내가 작성한 글</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" id="userComment">
          <span>내가 작성한 댓글</span>
        </a>
      </li>
    </th:block>
    <!--블로그 카테고리 end-->
    <!--관리자 페이지로 왔을 때-->
    <th:block th:if="${categoryMenu}== null and ${scrapList} == null">
      <div class="sidebar-heading">
        관리자
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/page/member/board/list}">
          <span>게시글 관리</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/page/member/category/list}">
          <span>카테고리 관리</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/page/member/comment/list}">
          <span>댓글 관리</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/page/member/visitor/list}">
          <span>방문자 관리</span>
        </a>
      </li>
    </th:block>
    <!--관리자 페이지 end-->
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
      최근 작성한 글
    </div>
    <li class="nav-item" th:each="list:${top5}">
        <input type="hidden" name="boardId" th:value="${list.boardId}">
        <input type="hidden" name="categoryId" th:value="${list.categoryId}">
          <a th:href="@{/page/board/detail/{id}(id=${list.boardId})}" style="color: #d7f1f5">
            <p class="text-center mb-2" th:text="${list.boardContents}"></p>
          </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Heading -->
    <div class="sidebar-heading">
      태그
    </div>
    <!-- Sidebar Message -->
    <!--해시태그 목록-->
    <div class="sidebar-card d-none d-lg-flex">
      <span class="text-center mb-2" th:each="tag:${hashTag}" th:text="${'#' +tag}"></span>
      <a class="btn btn-success btn-sm" th:href="@{/page/mypage/hashTag/list}">More</a>
    </div>
    <!--달력-->
    <div class="sidebar-card d-none d-lg-flex">
      <div class="sec_cal">
        <div class="cal_nav">
          <a href="javascript:;" class="nav-btn go-prev">prev</a>
          <div class="year-month"></div>
          <a href="javascript:;" class="nav-btn go-next">next</a>
        </div>
        <div class="cal_wrap">
          <div class="days">
            <div class="day">MON</div>
            <div class="day">TUE</div>
            <div class="day">WED</div>
            <div class="day">THU</div>
            <div class="day">FRI</div>
            <div class="day">SAT</div>
            <div class="day">SUN</div>
          </div>
          <div class="dates"></div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/common/main.js}"></script>
  </ul>
  <!-- End of Sidebar -->
</th:block>
</html>