<!DOCTYPE html>
<html 
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>게시글 조회화면</title>
<th:block th:replace="/layout/script :: scriptfragment"></th:block>
</head>
<body>
<th:block th:replace="/layout/header :: headerfragment"></th:block>
<form>
  <fieldset>
    <legend>글 조회</legend>
    <input type="hidden" id="boardid" name="boardId" th:value="${detail.boardId}">
    <div class="form-group">
      <label for="boardTitle" class="form-label mt-4">글 제목</label>
      <p id="boardTitle">[[${detail.boardTitle}]]</p>
    </div>
    <div class="form-group">
      <label for="boardAuthor" class="form-label mt-4">글 작성자</label>
      <p id="boardAuthor">[[${detail.boardAuthor}]]</p>
    </div>
    <div class="form-group">
      <label for="boardContents" class="form-label mt-4">글 내용</label>
      <p id="boardContents">[[${detail.boardContents}]]</p>
    </div>
    <div class="form-group">
      <label for="boardContents" class="form-label mt-4">조회수</label>
      <p>[[${detail.readCount}]]</p>
    </div>
    <button type="button" class="btn btn-primary" onclick='listpage()'>목록</button>
    <button type="button" class="btn btn-primary" onclick='modifypage()'>수정페이지</button>
  </fieldset>
</form>
<!-- 작성화면 -->
 <div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">댓글 작성</h3>
    </div>
    <div class="box-body">
<!--     	<div class="form-group"> -->
<!--             <label for="replywriter">댓글 작성자</label> -->
<!--             <input class="form-control" id="replywriter" name="replyWriter" placeholder="댓글 작성자를 입력해주세요"> -->
<!--         </div> -->
        <div id="valid_replyWriter"></div>
        <div class="form-group">
            <label for="replycontents">댓글 내용</label>
            <input class="form-control" id="replycontents" name="replyContents" placeholder="댓글 내용을 입력해주세요">
        </div>
        <div id="valid_replyContents"></div>
        <button type="button" onclick="replyInsert()">댓글 작성</button>
    </div>
</div>
<!-- 댓글 화면 -->
<div id="replies"></div>
<script type="text/javascript" th:src="@{/js/board/boarddetail.js}"></script>
<script type="text/javascript" th:src="@{/js/reply/reply.js}"></script>
<th:block th:replace="/layout/footer :: footerfragment"></th:block>
</body>
</html>