<!DOCTYPE html>
<html 
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>게시글 조회화면</title>
<!-- bootstrap5 -->
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
</head>
<body>
<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<form>
  <fieldset>
    <legend>글 조회</legend>
    <input type="hidden" id="boardid" name="boardId" th:value="${detail.boardId}">
    <div class="form-group">
      <label for="boardTitle" class="form-label mt-4">글 제목</label>
      <p id="boardTitle">[[${detail.boardTitle}]]</p>
    </div>
    <div class="form-group">
      <label for="boardAuthor" class="form-label mt-4">글 작성자</label>
      <p id="boardAuthor">[[${detail.boardAuthor}]]</p>
    </div>
    <div class="form-group">
      <label for="boardContents" class="form-label mt-4">글 내용</label>
      <p id="boardContents">[[${detail.boardContents}]]</p>
    </div>
    <div class="form-group">
      <label for="boardContents" class="form-label mt-4">조회수</label>
      <p>[[${detail.readCount}]]</p>
    </div>
    <button type="button" class="btn btn-primary" onclick='listpage()'>목록</button>
    <button type="button" class="btn btn-primary" onclick='modifypage()'>수정페이지</button>
  </fieldset>
</form>
<!-- 작성화면 -->
 <div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">댓글 작성</h3>
    </div>
    <div class="box-body">
    	<div class="form-group">
            <label for="replywriter">댓글 작성자</label>
            <input class="form-control" id="replywriter" name="replyWriter" placeholder="댓글 작성자를 입력해주세요">
        </div>
        <div class="form-group">
            <label for="replycontents">댓글 내용</label>
            <input class="form-control" id="replycontents" name="replyContents" placeholder="댓글 내용을 입력해주세요">
        </div>
        <button type="button" onclick="replyInsert()">댓글 작성</button>
    </div>
</div>
<!-- 댓글 화면 -->
<div id="replies"></div>
</body>
<script type="text/javascript">
//댓글 목록 보이기.
$(document).ready(function(){
	getCommentlist();
});
//목록가기o.k
function listpage(){
	location.href='/page/board/list';
}
//수정페이지 o.k
function modifypage(){
	
	let id = $('#boardid').val();
	
	location.href='/page/board/modify/'+id;
}
//댓글 목록 출력하기.o.k
function getCommentlist(){
	
	let boardid = $('#boardid').val();
	
	console.log(boardid);
	
	$.ajax({
	
		url:'/api/reply/list/'+boardid,
		type:'get',
		dataType:'json',
		contentType:'application/json; charset=utf-8'
	
	}).done(function(resp){
	
		let html = "";
		
		var count = resp.length;
	
		console.log(resp);
		console.log(count);
		
		//게시물이 있는 경우
		if(resp.length > 0){
			for(let i = 0; i<resp.length; i++){
				 
				html += "<br>";
				html += "<div class='mb-2'>";
                	html += "<input type='hidden' id='commentId_"+ resp[i].replyId +"' value='" + resp[i].replyId + "'>"
                	html += "<span style='float:right;' align='right' id='commentDate_"+ resp[i].replyId +"'> " + resp[i].createdAt + " </span>";
                	html += "<div class='mb-1 comment_container' >"
                		html += "<h5 id='commentText_" + resp[i].replyId + "' style='display: inline'>" + resp[i].replyContents +"</h5>";
                	html += "</div>"
                	html += "<span style='cursor: pointer; color: blue' class='reCommentBtn' id='reCommentBtn_"+ resp[i].replyId +"'>댓글 수정 </span>";
                	html +='<button type="button" class="btn btn-primary" onClick="replyDelete('+resp[i].replyId+'\)">'+'삭제'+'</button>'
                	html += "<hr>";
                html += "</div>"
			}	
		}else{
			 //댓글이 없는 경우
	         html += "<div class='mb-2'>";
             html += "<h6><strong>등록된 댓글이 없습니다.</strong></h6>";
             html += "</div>";
		}
		
		$('#replies').html(html);
	}).fail(function(error){
		console.log(error);
	});
}

//댓글 작성 o.k
function replyInsert(){
	
	let writer=$('#replywriter').val();
	let content=$('#replycontents').val();
	let boardid=$('#boardid').val();

	let data = {			
		replyWriter : writer,
		replyContents : content,
		boardId : boardid
	}
	
	$.ajax({
	
		url:'/api/reply/write/'+boardid,
		type:'post',
		data:JSON.stringify(data),
		dataType:'json',
		contentType:'application/json; charset=utf-8'
	
	}).done(function(resp){
		alert('댓글이 작성 되었습니다.');
		
		$('#replywriter').val(" ");
		$('#replycontents').val(" ");
		getCommentlist();
	});
}

//댓글 삭제
function replyDelete(replyId){
	
	let Isconfirm = confirm('삭제하겠습니까?');
	
	if(Isconfirm){
		$.ajax({
			url:'/api/reply/delete/'+replyId,
			type:'delete',
			dataType:'json',
			contentType:'application/json; charset=utf-8'
			
		}).done(function(resp){
			console.log(resp);
			
			alert("삭제 되었습니다.");
			
			$('#replies').empty();
			
			getCommentlist();
		}).fail(function(error){
			
			console.log(error);
			$('#replies').empty();
			getCommentlist();
		}).always(function(state){
			alert("삭제 되었습니다.");
			$('#replies').empty();
			getCommentlist();
		});	
	}
}
</script>
</html>