<!DOCTYPE html>
<html 
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>게시글 조회화면</title>
<th:block th:replace="/layout/script :: scriptfragment"></th:block>
</head>
<body>
<th:block th:replace="/layout/header :: headerfragment"></th:block>
<form>
  <fieldset>
    <legend>글 조회</legend>
    <input type="hidden" id="boardid" name="boardId" th:value="${detail.boardId}">
    <div class="form-group">
      <label for="boardTitle" class="form-label mt-4">글 제목</label>
      <p id="boardTitle">[[${detail.boardTitle}]]</p>
    </div>
    <div class="form-group">
      <label for="boardAuthor" class="form-label mt-4">글 작성자</label>
      <p id="boardAuthor">[[${detail.boardAuthor}]]</p>
    </div>
    <div class="form-group">
      <label for="boardContents" class="form-label mt-4">글 내용</label>
      <p id="boardContents">[[${detail.boardContents}]]</p>
    </div>
    <div class="form-group">
      <label for="boardContents" class="form-label mt-4">조회수</label>
      <p>[[${detail.readCount}]]</p>
    </div>
    <div class="form-group">
        <label for="board_file" class="form-label mt-4">파일첨부</label>
        <th:block th:each="attachfile:${fileList}">
            </br>
            <span id="board_file">
                [[${attachfile.originFileName}]]
            </span>
        </th:block>
    </div>
    <button type="button" class="btn btn-primary" onclick='listpage()'>목록</button>
    <button type="button" class="btn btn-primary" onclick='modifypage()'>수정페이지</button>
  </fieldset>
</form>
<br>
</br>
<div class="card mb-2">
	<div class="card-header bg-light">
	        <i class="fa fa-comment fa"></i> 댓글
	</div>
	<div class="card-body">
		<ul class="list-group list-group-flush">
		    <li class="list-group-item">
		    	<label for="replycontents">댓글 내용</label>
				<textarea class="form-control" id="replycontents" name="replyContents" rows="3"></textarea>
				<div id="valid_replyContents"></div>
				<button type="button" class="btn btn-dark mt-3" onclick="javascript:replyInsert();">post reply</button>
		    </li>
		</ul>
	</div>
</div>
<!-- 댓글 화면 -->
<div class="container">
	<div id="replies"></div>
</div>
<script type="text/javascript" th:src="@{/js/board/boarddetail.js}"></script>
<script type="text/javascript" th:src="@{/js/reply/reply.js}"></script>
<th:block th:replace="/layout/footer :: footerfragment"></th:block>
</body>
</html>