<!DOCTYPE html>
<html 
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>글 수정 화면</title>
<!-- bootstrap5 -->
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
</head>
<body>
<th:block th:replace="/layout/header :: headerfragment"></th:block>
<form id="updateform" method="post">
  <fieldset>
    <legend>글 수정</legend>
    <div class="form-group">
      <input type="hidden" id="boardid" name="id" th:value="${modify.boardId}">
      <label for="boardtitle" class="form-label mt-4">글 제목</label>
      <input type="text" class="form-control" id="boardtitle" name="boardTitle" th:value="${modify.boardTitle}">
    </div>
    <div class="form-group">
      <label for="boardauthor" class="form-label mt-4">글 작성자</label>
      <input type="text" class="form-control" id="boardauthor" name="boardAuthor" th:value="${modify.boardTitle}">
    </div>
    <div class="form-group">
      <label for="boardcontents" class="form-label mt-4">글 내용</label>
      <textarea class="form-control" id="boardcontents" name="boardContents" rows="3"></textarea>
    </div>
    
    <button type="button" class="btn btn-primary" onclick="modifypost()">글수정</button>
    <button type="button" class="btn btn-primary" onclick="deletepost()">글삭제</button>
    <button type="button" class="btn btn-primary" onclick="mainpage()">목록</button>
  </fieldset>
</form>
<th:block th:replace="/layout/footer :: footerfragment"></th:block>
</body>
<script type="text/javascript">

//글 수정기능
function modifypost(){
	
	let id = $('#boardid').val();
	let title = $('#boardtitle').val();
	let author = $('#boardauthor').val();
	let contents = $('#boardcontents').val();
	
	let date= {
			
			boardTitle : title,
			boardAuthor : author,
			boardContents : contents
	};
	
	$.ajax({
		
		url:'/api/board/update/'+id,
		type:'put',
		data:JSON.stringify(date),
		dataType:'json',
		contentType:'application/json; charset=utf-8'
	
	}).done(function(resp){
		
		console.log(resp);
		alert('글이 수정되었습니다.');
		location.href='/page/board/list';
	
	});
}

//글삭제
function deletepost(){
	
	let id = $('#boardid').val();
	
	$.ajax({
		
		url:'/api/board/delete/'+id,
		type:'delete',
		data: null,
		contentType:'application/json; charset=utf-8'
	
	}).done(function(resp){
		
		console.log(resp);
		alert('글이 삭제되었습니다.');
		location.href='/page/board/list';
	
	});
}

//글 목록
function mainpage(){
	location.href='/page/board/list';
}
</script>
</html>