<!DOCTYPE html>
<html 
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>글 수정 화면</title>
<th:block th:replace="/layout/script :: scriptfragment"></th:block>
</head>
<body>
<form id="updateform" method="post">
  <fieldset>
    <legend>글 수정</legend>
    <input type="hidden" id="boardid" name="boardId" th:value="${modify.boardId}">
    <div class="form-group">
      <label for="boardtitle" class="form-label mt-4">글 제목</label>
      <input type="text" class="form-control" id="boardtitle" name="boardTitle" th:value="${modify.boardTitle}">
    </div>
    <div id="valid_boardTitle"></div>
    <div class="form-group">
      <label for="boardcontents" class="form-label mt-4">글 내용</label>
      <textarea class="form-control" id="boardcontents" name="boardContents" rows="3"></textarea>
    </div>
    <div id="valid_boardContents"></div>
    <button type="button" class="btn btn-primary" onclick="modifypost()">글수정</button>
    <button type="button" class="btn btn-primary" onclick="deletepost()">글삭제</button>
    <button type="button" class="btn btn-primary" onclick="mainpage()">목록</button>
  </fieldset>
</form>
<script type="text/javascript" th:src="@{/js/board/boardupdate.js}"></script>
<th:block th:replace="/layout/footer :: footerfragment"></th:block>
</body>
</html>