<!DOCTYPE html>
<html
lang="kr"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/mainlayout}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 확인</title>
</head>
<body>
<th:block layout:fragment= "contents">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-header">비밀번호 입력</div>
                <div class="card-body">
                    <h5 class="card-title">비밀번호를 입력해 주세요.</h5>
                    <form id ="password-form">
                        <input type="hidden" name="boardId" id="id" th:value="${detail.boardId}">
                        <input type="hidden" name="password" id="pw" th:value="${detail.password}">
                        <div class="form-group">
                            <label for="board_pw">비밀번호</label>
                            <input type="password" id="board_pw" name="password" class="form-control" autocomplete=off/>
                        </div>
                        <br>
                        <button type="button" class="btn btn-primary" onclick="passwordCheck()">입력</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <script th:inline="javascript">
        //비밀번호 확인하기.
        let boardId = document.getElementById('id').value;
        let password = document.getElementById('pw').value;
        //비밀번호 확인
        function passwordCheck(){
            $.ajax({
                url:'/api/board/password-check/'+password+'/'+boardId,
                type:'GET',
                dataType:'json',
                contentType:'application/json;'
            }).done(function(status){
                console.log(status);
                //성공시 게시글 조회 화면으로 이동
                location.href='/page/board/detail/'+boardId;
            }).fail(function (error){
                alert(error);
            });
        }
    </script>
</th:block>
</body>
</html>