<!DOCTYPE html>
<html 
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>글 작성 화면</title>
<th:block th:replace="/layout/script :: scriptfragment"></th:block>
</head>
<body>
<th:block th:replace="/layout/header :: headerfragment"></th:block>
<form id="boardfrom" method="post" enctype="multipart/form-data">
  <fieldset>
    <legend>글 작성</legend>
    <div class="form-group">
      <label for="boardtitle" class="form-label mt-4">글 제목</label>
      <input type="text" class="form-control" id="boardtitle" name="boardTitle">
    </div>
    <div id="valid_boardTitle"></div>
    <div class="form-group">
      <label for="boardcontents" class="form-label mt-4">글 내용</label>
      <textarea class="form-control" id="boardcontents" rows="3" name="boardContents"></textarea>
    </div>
    <div id="valid_boardContents"></div>
    <div class="form-group">
    	<label fot="attachfiles" class="form-label mt-4">파일첨부</label>
    	<input type="file" name="filelist" id="attachfiles" multiple="multiple" value="파일을 첨부해 주세요.">
    </div>
    <button type="button" class="btn btn-primary" onclick="savepost()" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">글작성</button>
    <button type="button" class="btn btn-primary" onclick="main()">목록</button>
  </fieldset>
</form>
<script type="text/javascript" th:src="@{/js/board/boardwrite.js}"></script>
<th:block th:replace="/layout/footer :: footerfragment"></th:block>
</body>
</html>