<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorator="/layout/mainlayout">
<head>
<meta charset="UTF-8">
<title>로그인</title>
<!-- bootstrap5 -->
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
</head>
<body>
<th:block th:replace="/layout/header :: headerfragment"></th:block>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<div class="card text-center">
		  <div class="card-header">로그인</div>
		  <div class="card-body">
		    <h5 class="card-title">Log in</h5>
		    <form id="loginform" th:action="@{/loginProc}" method="post">
		    	<div th:if="${param.error}">
            		<div class="alert alert-danger">
                		[[${errorMessage}]]
                		[[${${param.error}}]]
                		[[${${param.errorMessage}}]]
            		</div>
        		</div>
		    	<div class="form-group">
		    		<label for="user_id">아이디</label>
		    		<input type="text" id="user_id" name="username" class="form-control"/> 
		    	</div>
		    	<div class="form-group">
		    		<label for="user_pw">비밀번호</label>
		    		<input type="password" id="user_pw" name="password" class="form-control" autocomplete=off/> 
		    	</div>
		    	<button type="submit" class="btn btn-primary">로그인</button>
		    </form>
		  </div>
		  <div class="card-footer text-muted">
		    <a th:href="@{/page/login/memberjoin}">회원가입</a>
		    <br></br>
		    <a>아이디 찾기</a>
		    <br></br>
		    <a>비밀번호찾기</a>
		  </div>
		</div>
	</div>
	<div class="col-sm-3"></div>
</div>
<th:block th:replace="/layout/footer :: footerfragment"></th:block>
</body>
</html>