<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
layout:decorator="/layout/mainlayout">
<head>
<meta charset="UTF-8">
<title>로그인</title>
<th:block th:replace="/layout/script ::scriptfragment"></th:block>
<style type="text/css">
.col-sm-3{
	margin-top: 10px;
}
.col-sm-6{
	margin-top: 50px;
}
</style>
</head>
<body>
<th:block th:replace="/layout/header :: headerfragment"></th:block>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<div class="card text-center">
		  <div class="card-header">로그인</div>
		  <div class="card-body">
		    <h5 class="card-title">Log in</h5>
<!-- 		    <form id="loginform" th:action="@{/api/login/signup}" method="post"> -->
		    <form id ="loginform">
		    	<div th:if="${param.error}">
            		<div class="alert alert-danger">
                		<a class="alert-link"  th:text="${exception}"></a>
            		</div>
        		</div>
		    	<div class="form-group">
		    		<label for="user_id">아이디</label>
		    		<input type="text" id="user_id" name="username" class="form-control"/> 
		    	</div>
		    	<div class="form-group">
		    		<label for="user_pw">비밀번호</label>
		    		<input type="password" id="user_pw" name="password" class="form-control" autocomplete=off/> 
		    	</div>
		    	<div class="form-check form-check-inline">
		    		<label for="rememberme" class="form-check-label">로그인 유지 여부</label>
		    		<input type="checkbox" id="rememberme" class="form-check-input" name="rememberme"/> 
		    	</div>
		    	</br>
		    	<button type="button" class="btn btn-primary" onclick="loginproc()">로그인</button>
		    </form>
		  </div>
		  <div class="card-footer text-muted">
		    <a th:href="@{/page/login/memberjoin}">회원가입</a>
		    <br></br>
		    <a th:href="@{/page/login/finduserid}">아이디 찾기</a>
		    <br></br>
		    <a th:href="@{/page/login/finduserpw}">비밀번호찾기</a>
		  </div>
		</div>
	</div>
	<div class="col-sm-3"></div>
</div>
<script type="text/javascript">
	
function loginproc(){
	let userid = $('#user_id').val();
	let userpw = $('#user_pw').val();
	
	let logindata = {
			username : userid,
			password : userpw
	}
	
	$.ajax({
		url:'/api/login/signup',
		type:'POST',
		data:JSON.stringify(logindata),
		dataTye:"json",
		contentType:'application/json; charset=utf-8'
	}).done(function(data,status,xhr){
        
		xhr.setRequestHeader('X-AUTH-TOKEN',data.accessToken);
        
		//let jwtToken = xhr.getReponseHeader('X-AUTH-TOKEN');
        
		console.log(data.accessToken);
        
 		localStorage.setItem("X-AUTH-TOKEN", data.accessToken);
		localStorage.getItem("X-AUTH-TOKEN");
		
        //location.href = "/page/main/mainpage";
    }).fail(function (error) {
        alert("존재하지 않는 회원입니다.");
    });	
}
</script>
<th:block th:replace="/layout/footer :: footerfragment"></th:block>
</body>
</html>