<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>로그인</title>
<!-- bootstrap5 -->
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
</head>
<body>
<th:block th:replace="/layout/header :: headerfragment"></th:block>
<div class="card text-center">
  <div class="card-header">
    회원탈퇴
  </div>
  <div class="card-body">
    <h5 class="card-title">회원탈퇴</h5>
    <p class="card-text">아이디를 입력해 주세요.</p>
    <input type="text" name="username" id="deleteid">
    <br></br>
    <button class="btn btn-primary" onclick="memberdelete()">회원탈퇴</button>
  </div>
</div>
<script type="text/javascript">
function memberdelete(){
	
	let id = $('#deleteid').val();
	
	const isconfirm = confirm('탈퇴하시겠습니까?');
	
	if(isconfirm){
		$.ajax({
			url:'/api/login/memberdelete/'+id+'/member',
			type:'delete',
			data:null,
			contentType:'application/json; charset= utf-8'
		}).done(function(resp){
			alert('탈퇴되었습니다.');
			location.href='/page/board/list';
		});	
	}
}
</script>   
<th:block th:replace="/layout/footer :: footerfragment"></th:block>
</body>
</html>