<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>회원 아이디 찾기</title>
<th:block th:replace="/layout/script ::scriptfragment"></th:block>
<style type="text/css">
.col-sm-3{
	margin-top: 10px;
}
.col-sm-6{
	margin-top: 50px;
}
#findidbutton{
	margin-top: 20px;
}
</style>
</head>
<body>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<div class="card text-center">
		  <div class="card-header">회원 아이디 찾기</div>
		  <div class="card-body">
		    	<div class="form-group">
		    		<label for="username">이름</label>
		    		<input type="text" id="username" name="membername" class="form-control"/> 
		    	</div>
		    	<div id="valid_membername"></div>
		    	<div class="form-group">
		    		<label for="user_email">이메일</label>
		    		<input type="text" id="user_email" name="useremail" class="form-control"/> 
		    	</div>
		    	<div id="valid_useremail"></div>
		    	<div id="finduserid"></div>
		    	<div class="form-group">
		    		<button type="button" class="btn btn-primary" id="findidbutton" onclick="finduserid()">아이디 찾기</button>
		   		</div>	
		  </div>
		  <div id="findid"></div>
		  <div class="card-footer text-muted">
		    <br></br>
		    <a th:href="@{/page/login/finduserpw}">비밀번호찾기</a>
		    <br></br>
		    <a th:href="@{/page/login/loginpage}">로그인화면</a>
		  </div>
		</div>
	</div>
	<div class="col-sm-3"></div>
</div>	
<script type="text/javascript" th:src="@{/js/member/userfindid.js}"></script>
<th:block th:replace="/layout/footer :: footerfragment"></th:block>
</body>
</html>